/* common shared styles */
* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

.btn-primary2 {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background-color: #fff;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    margin-left: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* header section styles from here */
header {
    background: #FFF8F3;
    height: 100vh;
    padding: 0 200px;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.r-title {
    color: #FD6E0A;
}

/* head title and img styles start from here */
.heading-container {
    display: flex;
    align-items: center;
}

.heading-column-2 {
    width: 50%;
    margin-top: 162px;
}

.title-a-am {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.title-mary-hardy {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin: 0px 0px;
}

.title-description {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.title-image {
    margin-left: 400px;
}

/* about section styles start from here */
.about-section {
    border-radius: 5px;
    background: #FFF8F3;
    height: 650px;
    margin: 120px 200px;
}

.about-container {
    padding: 100px;
}

.about-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 80px 0px;
}

.about-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-name {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 12px;
}

/* what i do section styles from here */
.what-i-do-section {
    border-radius: 5px;
    height: 650px;
    margin: 20px 200px;
    padding: 0px 100px;
}

.what-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.what-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0px;
}

.what-container {
    display: flex;
    justify-content: space-between;
}

.what-column {
    width: 200px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.column-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0px;
}

.column-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* A summary of my resume section start from here */
.summary-section {
    padding: 0px 300px;
    align-items: center;
}

.summary-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.summary-column-1 {
    margin-right: 70px;
}

.summary-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    padding: 25px 0px;
}

.summary-course-name {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 6px;
}

.summary-institude-name {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 6px;
}

.summary-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 0px;
}

hr {
    width: 558px;
}

.btn-summary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

.download-cv {
    text-align: center;
}

/* footer section styles from here */
.footer-section {
    background: #FFF8F3;
    padding: 0px 300px;
    margin-top: 100px;
}

.footer-container {
    padding: 150px 0px;
    display: flex;
    gap: 100px;
}

.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.social-icon img {
    margin-right: 15px;
}

.contact input[type=text],
input[type=email],
textarea {
    display: block;
    padding: 15px;
    padding-right: 100px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    margin-bottom: 20px;
    font-size: 17spx;
    color: #757575;
    background: #fff;
}