/* common shared styles */
* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

.btn-primary2 {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background-color: #fff;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    margin-left: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* header section styles from here */
header {
    background: #FFF8F3;
    height: 100vh;
    padding: 0 200px;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.r-title {
    color: #FD6E0A;
}

/* head title and img styles start from here */
.heading-container {
    display: flex;
    align-items: center;
}

.heading-column-2 {
    width: 50%;
    margin-top: 162px;
}

.title-a-am {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.title-mary-hardy {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin: 0px 0px;
}

.title-description {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.title-image {
    margin-left: 400px;
}

/* about section styles start from here */
.about-section {
    border-radius: 5px;
    background: #FFF8F3;
    height: 650px;
    margin: 120px 200px;
}

.about-container {
    padding: 100px;
}

.about-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 80px 0px;
}

.about-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-name {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 12px;
}